<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" *ngFor="let order of orders">
        <div class="card profile-card-1">
          <img [src]="'data:image/png;base64,' + order.food.image" alt="profile-sample1" class="background" />
          <img [src]="'data:image/png;base64,' + order.food.image" alt="profile-image" class="profile" />
          <div class="card-content">
            <h2>{{order.food.name}}
              <!-- <small><span><strong>{{order.food.orderStatus?.name}}</strong><i class="bg-dark"></i></span></small> -->
              <small>{{order.totalAmount | currency: 'PHP'}}</small>
            </h2>
              <!-- <a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#">
                <i class="fa fa-google-plus"></i></a> -->
              <span class="badge badge-dot mr-4">
                <Strong>{{order.totalAmount | currency: 'PHP'}}</Strong>
                <i class="bg-dark"></i>
                <Strong>{{order.size}}</Strong>
                <i class="bg-dark"></i>
                <Strong>{{order.food.category?.name}}</Strong>
              </span>
            <p>{{ order.dateTimeOrdered | date: 'MM-dd-yyyy, h:mm a'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>