/* .img-thumbnail{
  margin: 25px;
  width: 150px;
  height: 150px;
}
.card-body{
  padding: 0 25px;
}

.card-footer{
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}
.input{
  border: none
}


body {
  background: #f5f5f5;
}
.rounded {
  border-radius: 1rem;
}
.nav-pills .nav-link {
  color: #555;
}
.nav-pills .nav-link.active {
  color: white;
}
input[type="radio"] {
  margin-right: 5px;
}
.bold {
  font-weight: bold;
}

.center{
  bottom: 50%;
  left: 50%;
  max-width: 300px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}



.intro-1 {
  font-weight: bold;
  font-size: 30px; 
}

.intro-2 {
  font-size: 18px
}

.intro-3{
  font-size: 22px
}

.price{
  width: 70px;
  height: 30px;
  background-color: #088e8a;
  color: white;
  top: -30px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 50px;
}*/

html, body{
  height: 100%;
}


body {
  background-color: #daecec;
  display: grid;
  place-items: center;
  
}

iframe{
  border-radius: 10px;
}

.responsive{
  min-height: 200px;
  max-height: 400px;
  padding-left: 15px;
}

.fa-battery-full{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

p{
  color: #3c3939;
  font-weight: 200;
  font-size: 14px;
}

.btn-display, .btn-display:active, .btn-display:hover{
  color: #fdfafa;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.btn-display{
   background-color: #027f8d;
}

.btn-display:hover, .btn-display:active{
  background-color: #dddddf;
}

.btn-display:focus{
  outline: none;
  box-shadow: none;
}

.intro-3{
  font-size: 22px
}

*:focus{
  outline: none;
}

.modal-body{
  padding: none
}

.form-control::placeholder{
	font-size: 14px;
}
.form-control{
	border: 1px solid #EFEFF1;
}
.form-control:focus{
	box-shadow: none;
	border: 1px solid #EFEFF1;
}

.d-flex.justify-content-between{
	font-size: 14px;
}

.badge-info{
	background: #027f8d;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 15px;
}