/* .btn {
    border-radius: 2em;
} */

.create-button{
    position: fixed;
    bottom: 120px;
    right: 40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 4px grey;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18A558;
    color: white;
}
.action-th{
    width: 150px;
}

img{
    width:  auto;
    height: 100px;
    display: block;
    margin: auto;
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

th,td,img{
    text-align: center;
}

.food-avail{
    color: rgb(7, 143, 7)
  }

.food-unavail{
    color:rgb(224, 27, 54)
}

.fa-index {
    font-size: 50px;
}
/* .main-sidebar.elevation-4{
    background-color: #0f72b3;
} */

