<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h1><strong>{{ "OrderList" | localize }}</strong></h1>
                            <p>Dashboard</p>
                            <div class="icon">
                                <i class="fa fa-university"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h1><strong>{{ totalItems }}</strong></h1>
                            <p>Total Count</p>
                            <div class="icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <!-- <a 
                    href="javascript:;" 
                    class="create-button btn btn-md" 
                    (click)="createOrder()">
                        <i class="fa fa-plus"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn bg-info" (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" name="keyword"
                                    [placeholder]="'SearchWithThreeDot' | localize" [(ngModel)]="keyword"
                                    (keyup.enter)="getDataPage(1)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 mb-5" *ngFor="let food of foods">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-body p-1">
                                <img [src]="'data:image/png;base64,' + food.image" class="center" />
                            </div>
                            <h5 class="card-text text-center mb-1">
                                <!-- <i class="fa fa-user me-2"> </i>  -->
                                <strong>{{food.name}}</strong>
                            </h5>
                            <h6 class="text-center">{{food.category?.name}}</h6>
                            <h5 class="card-text text-muted text-center bg-info"><strong>₱ {{food.price}}.00</strong>
                            </h5>
                        </div>
                        <ul class="list-inline animate text-center">
                            <li class="list-inline-item ">
                                <button class="btn text-center inline bg-blue"><i class="fa fa-shopping-basket"></i>
                                    Cart</button>
                            </li>
                            <li class="list-inline-item">
                                <button class="btn text-center inline bg-success"><i class="fa fa-cart-plus"></i>
                                    Buy</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
                <div class="col-sm-6 col-12 text-sm-left text-center">
                    <button class="btn btn-secondary" (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>