<form
    class="form-horizontal"
    autocomplete="off"
    #createOrderStatusModal="ngForm"
    (ngSubmit)="save()"
>
<abp-modal-header
    [title]="'Create New Order Status' | localize"
    (onCloseClick)="bsModalRef.hide()"
>    
</abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label 
            for="orderStatusName" 
            class="col-md-3 col-form-label">
            {{"Order Status" | localize}}
        </label>
        <div class="col-md-9">
            <input 
            type="text" 
            class="form-control"
            name="orderStatusName"
            id="orderStatusName"
            required
            [(ngModel)]="orderStatus.name"
            #orderStatusNameModel="ngModel"
            #orderStatusNameEl
            />
            <abp-validation-summary
            [control]="orderStatusNameModel"
            [controlEl]="orderStatusNameEl"
            ></abp-validation-summary>
        </div>
        </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createOrderStatusModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
</form>