<form
  class="form-horizontal"
  autocomplete="off"
  #createFoodModal="ngForm"
  (ngSubmit)="save()">
  <abp-modal-header 
  [title]="'CreateNewFood' | localize" 
  (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
        <div class="form-group row required">
          <label 
          class="col-md-3 col-form-label" 
          for="image">
            {{ "Food Photo" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="file"
              class="form-control"
              name="image"
              id="image"
              required
              [(ngModel)]="food.image"
              (change)="displayImage($event)"
            />
          </div>
        </div>
          <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="name">
              {{ "Food Name" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                required
                [(ngModel)]="food.name"
                #nameModel="ngModel"
                #nameEl
              />
              <abp-validation-summary
                [control]="nameModel"
                [controlEl]="nameEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="availability">
              {{ "Is Available?" | localize }}
            </label>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="availability"
                id="availability{}"
                required
                [checked]="true"
              />
              <label class="custom-control-label">Available</label>
            </div>
          </div>
          <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="foodQty">
              {{ "Qty" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="foodQty"
                id="foodQty"
                required
                [(ngModel)]="food.quantity"
                #foodQtyModel="ngModel"
                #foodQtyEl
              />
              <abp-validation-summary
                [control]="foodQtyModel"
                [controlEl]="foodQtyEl"
              ></abp-validation-summary>
            </div>
          </div>
        <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="categoryName">
                {{ "Food Category" | localize }}
            </label>
            <div class="col-md-9">
                <select 
                class="form-control"
                name="categoryName"
                id="categoryName"
                required            
                [ngModel]="selectedCategory"     
                (ngModelChange)="selectedCategory=$event"          
                >
                <option *ngFor="let Category of categories"
                [ngValue]="Category.id">{{Category.name}}</option>
                </select>
            </div>            
        </div>
        <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="typeName">
                {{ "Food Type" | localize }}
            </label>
            <div class="col-md-9">
                <select 
                class="form-control"
                name="typeName"
                id="typeName"
                required            
                [ngModel]="selectedType"     
                (ngModelChange)="selectedType=$event"          
                >
                <option *ngFor="let type of types"
                [ngValue]="type.id">{{type.name}}</option>
                </select>
            </div>            
        </div>
        <!-- <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="foodSize">
            {{ "Size" | localize }}
          </label>
          <ng-container *ngFor="let foodSize of foodSizes">
            <div class="col-md-3">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="foodSize"
                  id="foodSize{{ foodSize.id }}"
                  required
                  [(ngModel)]="food.size"                  
                />
                <label class="custom-control-label" for="foodSize{{ foodSize.id }}">
                  {{ foodSize.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div> -->
        <!-- <div class="form-group row mb-0 required">
            <label 
            class="col-md-3 col-form-label" 
            for="foodSize">
                {{ "Size" | localize }}
            </label>
            <div class="form-group col-md-6">
              <ng-container *ngFor="let foodsize of foodSizes">
                <div class="col-md-6">
                  <div class="custom-control custom-checkbox">
                    <input
                    type="checkbox"
                    class="form-control"              
                    name="foodSize"
                    id="foodSize"
                    required
                    [(ngModel)]="food.size"
                  />
                  <label class="custom-control-label">{{foodsize.name}}</label><br>
                  </div>
                </div>
              </ng-container>   
            </div>         
        </div> -->
          <div class="form-group row required">
            <label 
            class="col-md-3 col-form-label" 
            for="foodPrice">
              {{ "Price" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="number"
                class="form-control"
                name="foodPrice"
                id="foodPrice"
                value="₱"
                required
                [(ngModel)]="food.price"
                #foodPriceModel="ngModel"
                #foodPriceEl
              />
              <abp-validation-summary
                [control]="foodPriceModel"
                [controlEl]="foodPriceEl"
              ></abp-validation-summary>
            </div>
          </div>
    </div>
    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createFoodModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
  