<form class="form-horizontal" autocomplete="off" #createDFoodModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewFood' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodImage">
                {{ "Attached Image" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodImage" id="foodImage" required
                    [(ngModel)]="food.image" />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodImageType">
                {{ "File Extension" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodImageType" id="foodImageType" required
                    [(ngModel)]="food.imageType" />
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodName">
                {{ "Food Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodName" id="foodName" required [(ngModel)]="food.name"
                    #foodNameModel="ngModel" #foodNameEl />
                <abp-validation-summary [control]="foodNameModel" [controlEl]="foodNameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodQty">
                {{ "Qty" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="foodQty" id="foodQty" required
                    [(ngModel)]="food.quantity" #foodQtyModel="ngModel" #foodQtyEl />
                <abp-validation-summary [control]="foodQtyModel" [controlEl]="foodQtyEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodQty">
                {{ "Categories" | localize }}
            </label>
            <div class="col-md-9">
                <select class="form-control" name="foodCategory" id="foodCategory" required
                    [(ngModel)]="selectedCategory" (ngModelChange)="selectedCategory=$event">
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodQty">
                {{ "Types" | localize }}
            </label>
            <div class="col-md-9">
                <select class="form-control" name="foodType" id="foodType" required
                    [(ngModel)]="selectedType" (ngModelChange)="selectedType=$event">
                    <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="foodQty">
                {{ "Size" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="foodQty" id="foodQty" required
                    [(ngModel)]="food.quantity" #foodQtyModel="ngModel" #foodQtyEl />
                <abp-validation-summary [control]="foodQtyModel" [controlEl]="foodQtyEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createDFoodModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>