<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h1><strong>{{ "Customers" | localize }}</strong></h1>
                            <p>Dashboard</p>
                            <div class="icon">
                                <i class="fas fa-user-friends"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h1><strong>{{ totalItems }}</strong></h1>
                            <p>Total Count</p>
                            <div class="icon">
                                <i class="fa fa-line-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a 
                    href="javascript:;" 
                    class="create-button btn btn-md" 
                    (click)="createCustomer()">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">&emsp;</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input 
                                type="text" 
                                class="form-control" 
                                name="keyword"                                    
                                [placeholder]="'SearchWithThreeDot' | localize" 
                                [(ngModel)]="keyword"
                                (keyup.enter)="getDataPage(1)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table 
                        class="table table-bordered" 
                        [busy]="isTableLoading">
                            <thead class="bg-light">
                                <tr class="bg-info text-center">
                                    <th>{{ "Customers" | localize }}</th>
                                    <th>{{ "Divisions" | localize }}</th>
                                    <th class="action-th">{{ "Actions" | localize }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers | paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                } | search: keyword : ['name', 'division.name','user.fullName']">
                                    <td>{{ customer.user?.fullName }}</td>
                                    <td>{{ customer.division?.name}}</td>
                                    <td>
                                        <button 
                                        type="button" 
                                        class="btn btn-sm bg-blue"
                                        (click)="editCustomer(customer.id)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button 
                                        type="button" 
                                        class="btn btn-md bg-danger mx-2"
                                        (click)="delete(customer)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
                <div class="col-sm-6 col-12 text-sm-left text-center">
                    <button 
                    class="btn btn-secondary" 
                    (click)="refresh()">
                        <i class="fas fa-redo-alt"></i>
                    </button>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="float-sm-right m-auto">
                        <abp-pagination-controls 
                        id="server" 
                        (pageChange)="getDataPage($event)">
                        </abp-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>