<div>
  <section class="content px-2">
    <!-- <div class="container-fluid">
      <div class="container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 p-1" *ngFor="let food of foods| paginate
            : {
                id: 'server',
                itemsPerPage: pageSize,
                currentPage: pageNumber,
                totalItems: totalItems
                } ">
              <div class="card-sl">
                <div class="card-content">
                  <div class="card-image">
                    <img [src]="'data:image/png;base64,' + food.image" (click)="displayFoodDetails(food.id)"
                      class="center card-img-top"
                      [ngStyle]="{'opacity': !food.quantity ? soldOutOpacity : defaultOpacity}" />
                  </div>
                  <a class="card-action" [hidden]="food.quantity==0" (click)="addTocart(food)">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a class="card-action-danger" [hidden]="food.quantity!=0">
                    <i class="fa fa-ban"></i>
                  </a>
                  <div class="card-heading">
                    {{food.name}}
                  </div>
                  <div class="card-text">
                    <h6>{{food.category?.name}}</h6>
                  </div>
                  <div class="card-text">
                    <h5>{{ grandTotalPrice(food) | currency:'PHP'}}</h5>
                  </div>
                  <div class="card-text" *ngIf="food.size && food.quantity">
                    <label for="foodSize">Food Size:</label>
                    <select class="form-control" id="foodSize" name="foodSize" [(ngModel)]="food.size">
                      <option *ngIf="this.food.size.length; else NoAvailableSize" class="dropdown-item" disabled
                        selected [value]="null">
                        <strong>Select a Food</strong>
                      </option>
                      <ng-template #NoAvailableSize>
                        <option class="dropdown-item" disabled selected [ngValue]="null">
                        </option>
                      </ng-template>
                      <option *ngFor="let size of availableSizesDict[food.id]" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <ng-container *ngIf="food.quantity; then AvailableFood else SoldOutFood">
                  </ng-container>
                  <ng-template #AvailableFood>
                    <button class="card-button" (click)="displayFoodDetails(food.id)">View More
                    </button>
                  </ng-template>
                  <ng-template #SoldOutFood>
                    <button class="card-button bg-danger">
                      <strong>Sold Out</strong></button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-xs-6 p-1" *ngFor="let food of foods| paginate
          : {
              id: 'server',
              itemsPerPage: pageSize,
              currentPage: pageNumber,
              totalItems: totalItems
              } ">
            <div class="card">
              <!-- <ng-container *ngIf="food.quantity then Available; else NotAvailableFood"></ng-container>
              <ng-template #Available>
                <div class="top text-center">
                  <h4 class="text-center"><strong>Available</strong></h4>
                </div>
              </ng-template>
              <ng-template #NotAvailableFood>
                <div class="top-danger text-center">
                  <h4 class="text-center"><strong>Sold Out</strong></h4>
                </div>
              </ng-template> -->

              <div class="middle">
                <img [src]="'data:image/png;base64,' + food.image" height="270" class="mt-3"
                  (click)="displayFoodDetails(food.id)"
                  [ngStyle]="{'opacity': !food.quantity ? soldOutOpacity : defaultOpacity}">
                <h4 class="p-1">{{food.name}}</h4>
                <h6>{{ grandTotalPrice(food) | currency:'PHP'}}</h6>
                <span>{{food.category?.name}}</span>
                <div class="card-text" *ngIf="food.size">
                  <select 
                  [disabled]="!food.quantity" 
                  class="form-control" 
                  id="foodSize" 
                  name="foodSize"                    
                  [(ngModel)]="food.size">
                    <option 
                    class="dropdown-item" 
                    disabled 
                    selected
                      [value]="null">
                      <strong>Select a Food</strong>
                    </option>
                    <option *ngFor="let size of availableSizesDict[food.id]" [value]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="bottom">
                <div class="form-group text-center">
                  <button class="btn btn-sm add-cart p-1" (click)="addTocart(food)" [hidden]="!food.quantity">Add to
                    Cart</button>
                  <button class="btn btn-sm add" (click)="displayFoodDetails(food.id)" [disabled]="!food.quantity">View
                    More</button>
                  <!-- <ng-template #SoldOutFood>
                    <button class="card-button bg-danger add">
                      <strong>Sold Out</strong></button>
                  </ng-template> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer table-card-footer bg-light border-top">
      <div class="row">
        <div class="col-sm-6 col-12">
          <div class="float-sm-right m-auto">
            <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
            </abp-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>