<form #addToCart="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'FoodDetails' | localize" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body-lg">
        <div class="row" *ngIf="food">
            <div class="col-4">
                <img 
                *ngIf="food.imageFileType && food.image" 
                [src]="'data:image/png;base64,' + food.image"                    
                class="card-img-top img-thumbnail" />
            </div>
            <div class="card-body">
                <div class="card-body">
                    <strong>Name</strong>
                    <h6>{{food.name}}</h6>
                    <!-- <div class="card-footer">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-block">Add to Cart</button>
                            <button class="btn btn-success">Buy Now</button>
                        </div>
                    </div> -->
                    <strong>Type</strong>
                    <div *ngFor="let type of types">
                        <div *ngIf="food.type?.id == type.id">
                            <h6>{{type.name}}</h6>
                        </div>
                    </div><br>
                    <strong>Category</strong>
                    <p>{{food.category?.name}}</p>
                </div>
            </div>
            <div class="card-body">
                <p class="food-avail" *ngIf="food.availability==true; else NotAvailable ">
                    <i class="fa fa-check-circle"></i> <strong> AVAILABLE</strong>
                </p>
                <ng-template #NotAvailable>
                    <p class="size-null"><strong>NOT AVAILABLE</strong></p>
                </ng-template>
                <h6>
                    <strong>Size</strong>
                </h6>
                <select
                class="form-control"
                name="typeName"
                id="typeName"
                required
                [ngModel]="selectedFoodSize"
                (ngModelChange)="selectedFoodSize = $event"
                >
                <option *ngFor="let size of selectedFoodSize" [ngValue]="size.id">
                    {{ size.name }}
                </option>
                </select>
                <!-- <p *ngIf="food.size != null || food.size == ''; else NotApplicable">{{food.size}}</p>
                <ng-template #NotApplicable>
                    <p class="size-null">
                        <strong>Not Applicable</strong>
                    </p>
                </ng-template> -->
                <h6>
                    <strong>Price</strong>
                </h6>
                <p>₱ {{food.price}}</p>
                <h6>
                    <strong>Quantity</strong>
                </h6>
                <p>{{food.quantity}}</p>
                <!-- <div class="input-group" [ariaDisabled]="food.availability==false || food.quantity == 0">
                <span class="input-group-prepend">
                    <button 
                    type="button" 
                    class="btn btn-outline-secondary btn-number" 
                    [disabled]="food.availability==false || food.quantity == 0"
                    data-type="minus" 
                    data-field="quant[1]">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
                <input 
                type="text" 
                name="quant[1]" 
                class="form-control input-number" 
                value="1" 
                min="1" 
                max="food.quantity">
                <span class="input-group-append">
                    <button 
                    type="button" 
                    class="btn btn-outline-secondary btn-number" 
                    data-type="plus" 
                    data-field="quant[1]">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div> -->

                <div class="form-group">
                    <label for="foodQuantity" class="col-md-2 col-form-label">Quantity</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" (click)="decrementQty()"
                                    [disabled]="foodQty<=1">-</button>
                            </div>
                            <input type="number" class="form-control" name="foodQuantity" id="foodQuantity"
                                [(ngModel)]="foodQty" readonly>
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"
                                    (click)="incrementQty(foodQty)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!addToCart.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()">
    </abp-modal-footer>
</form>