<div class="row" *ngFor="let food of foods">
    <div class="col-4" *ngIf="foods">
        <img class="card-img-top img-thumbnail" />
        <div class="card-body">
            <div>
                <strong>Name</strong>
                <p>{{food.name}}</p>
            </div>
            <div>
                <strong>Category</strong>
                <p></p>
            </div>
            <div>
                <strong>Type</strong>
                <p></p>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group d-flex">
                <button class="btn btn-primary">Add to Cart</button>
                <button class="btn btn-success">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabs">
            <tab heading="Food Details">
                <h4>Availability</h4>
                <p></p>
            </tab>
        </tabset>
    </div>
</div>